@font-face {
    font-family: 'montserrat-reg';
    src: url('../assets/fonts/Montserrat-Regular.ttf')
}

@font-face {
    font-family: 'montserrat-bold';
    src: url('../assets/fonts/Montserrat-Bold.ttf')
}

@font-face {
    font-family: 'montserrat-med';
    src: url('../assets/fonts/Montserrat-Medium.ttf')
}