@import '../../sass/Colors.scss';
@import '../../sass/Fonts.scss';
@import '../../sass/Mixins.scss';
@import '../../sass/components/Buttons.scss';

.about {
    margin: 8rem auto 0;
    max-width: 1200px;
    height: 600px;

    &--container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 1fr;
    }

    &--left {
        margin: 0 auto;
    }

    &--right {
        margin: 0 auto;
    }
}

h2 {
    color: $primary;
    font-family: 'montserrat-bold';
}

p {
    color: $black;
}