@import '../../sass/Colors.scss';
@import '../../sass/Fonts.scss';
@import '../../sass/Mixins.scss';

.navbar {
    background-color: $gray;   
    overflow: hidden; 
    width: 100%;
    
    &--container {
        display: flex;
        justify-content: space-between;
        padding: 0.5rem 0;
        margin: 0 auto;
        max-width: 1200px;
        background-color: $gray;    
    }
    &--left {
        padding-left: 0.5rem;
    }

    &--right {
        padding-right: 0.5rem;
    }

    &--list {
        display: flex;
        padding: 0;
        font-size: 17px;
        list-style: none;
    }

    &--item {
        margin: 0 2rem;
        color: $white;

        &:last-child {
            margin: 0 0 0 2rem;
        }
    }
    &--logo {
        width: 50px;
    }
}