@import '../Colors.scss';
@import '../Mixins.scss';
@import '../Fonts.scss';

.btn {
    width: 140px;
    height: 40px;
    font-size: 13px;
    font-family: 'montserrat-bold';
    text-transform: uppercase;
    transition: ease-in all 0.25s;
    cursor: pointer;

    &-default {
        color: $white;
        background: $primary;
        border: 2px solid $primary;

        &:hover {
            color: $primary;
            background: transparent;
            border: 2px solid $primary;       
        }
    }

    &-secondary {
        color: $primary;
        background: transparent;
        border: 2px solid $primary;

        &:hover {
            color: $white;
            background: $primary;
            border: 2px solid $primary;       
        }
    }
}

.btn-2{
    width: 280px;
    height: 40px;
    font-size: 13px;
    font-family: 'montserrat-bold';
    text-transform: uppercase;
    transition: ease-in all 0.25s;
    cursor: pointer;

    &-default {
        color: $white;
        background: $primary;
        border: 2px solid $primary;

        &:hover {
            color: $primary;
            background: transparent;
            border: 2px solid $primary;       
        }
    }

    &-secondary {
        color: $primary;
        background: transparent;
        border: 2px solid $primary;

        &:hover {
            color: $white;
            background: $primary;
            border: 2px solid $primary;       
        }
    }
}